.slick-next {
    right: 5px !important;
}
.slick-prev {
    left: 5px !important;
    z-index: 9999;
}
.css-1nvbjtv-MuiStack-root-MuiMultiInputDateRangeField-root{
    display: -webkit-box !important;
    align-self: center !important;
}